@using Siteswaps.Components.Generator.State
@using ExhaustiveMatching
<EditForm Model="Values" OnValidSubmit="@Generate">

    <label for="exactNumberOrRangeOfBallsSwitchedCheckBox">Exact number or Range</label>
    <InputCheckbox id="exactNumberOrRangeOfBallsSwitchedCheckBox" Value="Values.IsExactNumber" ValueChanged="ExactNumberOrRangeOfBallsSwitched" ValueExpression="() => Values.IsExactNumber"></InputCheckbox>

    @switch (Values.Objects)
    {
        case Between between:
            <div class="form-floating">
                <InputNumber id="minNumberOfObjects" class="form-control" min="0" Value="@between.MinNumber" ValueChanged="MinNumberChanged" ValueExpression="@(() => between.MinNumber)"/>
                <label for="minNumberOfObjects">Min Number of Objects</label>
            </div>

            <div class="form-floating">
                <InputNumber id="maxNumberOfObjects" class="form-control" min="0" Value="@between.MaxNumber" ValueChanged="MaxNumberChanged" ValueExpression="@(() => between.MaxNumber)"/>
                <label for="maxNumberOfObjects">Max Number of Objects</label>
            </div>
            break;
        case ExactNumber exactNumber:
            <div class="form-floating">
                <InputNumber id="numberOfObjects" class="form-control" min="0" placeholder="7" Value="@exactNumber.Number" ValueChanged="ExactNumberChanged" ValueExpression="@(() => exactNumber.Number)"/>
                <label for="numberOfObjects" class="bmd-label-floating"># Objects</label>
            </div>
            break;
        default:
            ExhaustiveMatch.Failed(Values.Objects);
            break;
    }

    <div class="form-floating">
        <InputNumber id="period" class="form-control" min="0" placeholder="5" Value="@Values.Period" ValueChanged="PeriodChanged" ValueExpression="@(() => Values.Period)"/>
        <label for="period">Period</label>
    </div>

    <div class="form-floating">
        <InputNumber id="maxThrow" class="form-control" min="0" placeholder="10" Value="@Values.MaxThrow" ValueChanged="MaxThrowChanged" ValueExpression="@(() => Values.MaxThrow)"/>
        <label for="maxThrow">max throw</label>
    </div>

    <div class="form-floating">
        <InputNumber id="minThrow" class="form-control" min="0" placeholder="2" Value="@Values.MinThrow" ValueChanged="MinThrowChanged" ValueExpression="@(() => Values.MinThrow)"/>
        <label for="minThrow">min throw</label>
    </div>

    <div class="form-floating">
        <InputNumber id="numberOfJugglers" class="form-control" placeholder="2" min="1" Value="@Values.NumberOfJugglers" ValueChanged="NumberOfJugglersChanged" ValueExpression="@(() => Values.NumberOfJugglers)"/>
        <label for="numberOfJugglers">#Jugglers</label>
    </div>

    <input id="generate" type="submit" disabled="@Values.IsGenerating"/>
</EditForm>

@code {

    [Parameter]
    public GeneratorState Values { get; set; }

    [Parameter]
    public Action Generate { get; set; }

    [Parameter]
    public EventCallback<int> PeriodChanged { get; set; }


    [Parameter]
    public EventCallback<int> MinNumberChanged { get; set; }

    [Parameter]
    public EventCallback<int> MaxNumberChanged { get; set; }

    [Parameter]
    public EventCallback<int> ExactNumberChanged { get; set; }

    [Parameter]
    public EventCallback<int> MaxThrowChanged { get; set; }

    [Parameter]
    public EventCallback<int> MinThrowChanged { get; set; }

    [Parameter]
    public EventCallback<int> NumberOfJugglersChanged { get; set; }

    [Parameter]
    public EventCallback<bool> ExactNumberOrRangeOfBallsSwitched { get; set; }

}