@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IState<SiteswapGeneratorState> _state
@if (Value is null)
{
    return;
}

<div class="col">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <select id="numberFilterType" class="form-select" @bind="@Value.Type">
                    <option value="@NumberFilterType.Exactly">Exactly</option>
                    <option value="@NumberFilterType.Maximum">Maximal</option>
                    <option value="@NumberFilterType.AtLeast">Minimal</option>
                </select>
                <label for="numberFilterType">Filter type</label>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="form-floating col">
            <input type="number" id="numberFilterAmount" class="form-control" min="0" max="@_state.Value.State.Period" @bind="@Value.Amount"/>
            <label for="numberFilterAmount">Amount</label>
        </div>

        <div class="form-floating col">
            <input type="number" id="numberFilterHeight" class="form-control" min="@(_state.Value.State.MinThrow ?? 0)" max="@_state.Value.State.MaxThrow" @bind="@Value.Height"/>
            <label for="numberFilterHeight">Height</label>
        </div>
    </div>

</div>

@code {

    private NumberFilterInformation? Value => _state.Value.NewFilter as NumberFilterInformation;

}