@inherits FluxorComponent
@inject IState<SiteswapGeneratorState> _state
@if (Value is null)
{
    return;
}

<div class="row">
    <div class="col">
        <div class="input-group">
            <label for="numberFilterType" class="input-group-text">Type</label>
            <select id="numberFilterType" class="form-select" @bind="@Value.Type">
                <option value="@NumberFilterType.Exactly">Exactly</option>
                <option value="@NumberFilterType.Maximum">Maximal</option>
                <option value="@NumberFilterType.AtLeast">Minimal</option>
            </select>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <div class="input-group">
            <span class="input-group-text" style="width: 100px">Amount</span>
            <input type="number" id="numberFilterAmount" class="form-control" style="max-width: 75px" min="0" max="@_state.Value.State.Period" @bind="@Value.Amount"/>
        </div>
    </div>
    <div class="col">
        <div class="input-group">
            <span class="input-group-text" style="width: 100px">Height</span>
            <input type="number" id="numberFilterHeight" class="form-control" style="max-width: 75px" min="@(_state.Value.State.MinThrow ?? 0)" max="@_state.Value.State.MaxThrow" @bind="@Value.Height"/>
        </div>
    </div>
</div>

@code {

    private NumberFilterInformation? Value => _state.Value.NewFilter as NumberFilterInformation;

}